# Pliki binarne i obiekty
*.o
*.out
*.a
*.so
*.exe

# Pliki generowane przez kompilator
*.log
*.tmp
*.swp
*.bak
*.d

# Foldery tymczasowe
build/
dist/
cache/

# Pliki Makefile i CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Pliki IDE
.vscode/
.idea/
*.iml
*.suo
*.user
*.ncb
*.opendb
*.vcxproj*
